@import url('https://fonts.googleapis.com/css?family=BioRhyme');
@import url('https://fonts.googleapis.com/css?family=Sarala');

body {
  height: 100%;
  margin: 0;
}

:root {
  --midnight: #0f1626;
  --wave: #494a47;
  --gray: #f5f5f5;
  --aqua: #7cdbd5;
  --gold: #fbb040;
  --red-orange: #f15a29;
  --white: #ffffff;
  --royal: #4484ce;
  --mellow-yellow: #fedc3d;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./assets/background.svg');
  background-size: cover;
}

.background {
  width: 100%;
  height: 100%;
}

/* LOADING DOTS */

.loader {
  align-self: flex-start;
  padding: 100px 295px;
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.dashboard-loader {
  align-self: center;
  padding: 120px;
  width: 100px;
  display: flex;
  justify-content: space-between;

  grid-column-start: col-1;
  grid-column-end: col-2;
  grid-row-start: row-b;
  grid-row-end: row-c;
}

.loading-dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--gray);
}

.one {
  animation-duration: 1s;
  animation-name: loading-one;
  animation-iteration-count: infinite;
}

.two {
  animation-duration: 1s;
  animation-name: loading-two;
  animation-iteration-count: infinite;
}

.three {
  animation-duration: 1s;
  animation-name: loading-three;
  animation-iteration-count: infinite;
}

@keyframes loading-one {
  33% {
    opacity: 1;
  }

  66% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes loading-two {
  33% {
    opacity: 0.5;
  }

  66% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes loading-three {
  33% {
    opacity: 0.5;
  }

  66% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

/* Header */

.nav-li {
  display: inline;
}

.underline {
  border-bottom: solid 2px var(--aqua);
}

.nav-link {
  padding: 0;
  margin: 0 20px 0 20px;
  align: right;
  /* width: 112px; */
  height: 38px;
  background-color: var(--gray);
  /* text */
  font-family: Sarala;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-align: center;
  color: var(--midnight);
}

.nav-link:link {
  text-decoration: none;
}
.nav-link:visited {
  text-decoration: none;
}
.nav-link:hover {
  text-decoration: none;
  color: var(--aqua);
}
.nav-link:active {
  text-decoration: none;
}

.current {
  border-bottom: solid 2px var(--aqua);
}

.nav-list {
  list-style-type: none;
}

.title {
  width: 27%;
  padding: 0 0 0 40px;
  height: 36.5%;
  font-family: BioRhyme;
  font-size: 24px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 6px;
  text-align: left;
  color: var(--midnight);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 8%;
  background-color: var(--gray);
}

/* Transcript Area */

.transcript-header {
  font-family: BioRhyme;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--aqua);
}

.listen-button {
  font-family: Sarala;
  font-size: 14px;
  /* font-weight: bold; */
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: var(--white);
  background-color: var(--red-orange);
  border-radius: 2%;
  border: none;
}

.transcript-box {
  margin-top: 30px;
  border-radius: 5px;
  background-color: var(--midnight);
  border: solid 3px rgba(245, 245, 245, 0.5);
  height: 324px;
  padding: 30px;
  overflow: auto;

  /* POSITIONING */
  align-self: stretch;
  grid-column-start: col-3;
  grid-column-end: col-6;
  grid-row-start: row-d;
  grid-row-end: row-e;
  align-content: center;
}

.transcript-text {
  display: inline-block;
  font-family: AnonymousPro;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: var(--gray);

  /* POSITIONING */
  grid-column-start: col-3;
  grid-column-end: col-6;
  grid-row-start: row-d;
  grid-row-end: row-e;
}

.instruction-text {
  display: inline-block;
  opacity: 0.25;
  font-family: Sarala;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: center;
  color: var(--gray);

  /* POSITIONING */
  grid-column-start: col-3;
  grid-column-end: col-6;
  grid-row-start: row-d;
  grid-row-end: row-e;
}

/* Keyword Area */

.keyword-title {
  font-family: BioRhyme;
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  color: var(--aqua);
}

.keyword-area {
  /* width: 192px;
  height: 56px; */
  font-family: BioRhyme;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--aqua);

  /* POSITIONING */
  grid-column-start: col-1;
  grid-column-end: col-6;
  grid-row-start: row-f;
  grid-row-end: row-g;
}

/* Dashbaorad*/

.dash {
  align-self: stretch;
  grid-column-start: col-1;
  grid-column-end: col-2;
  grid-row-start: row-d;
  grid-row-end: row-e;
}

.dash-button {
  width: 346px;
  height: 42px;
  font-family: Sarala;
  font-size: 14px;
  /* font-weight: bold; */
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: var(--white);
  background-color: var(--red-orange);
  border-radius: 2%;
  border: none;
}

.dashboard-header {
  font-family: BioRhyme;
  /* width: 406px; */
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--aqua);

  grid-column-start: col-1;
  grid-column-end: col-5;
  grid-row-start: row-b;
  grid-row-end: row-c;
}

.count-style {
  width: 183px;
  height: 144px;
  font-family: BioRhyme;
  font-size: 144px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: var(--royal);
}

.conversation-count-header {
  width: 286px;
  height: 112px;
  padding: 20px 0 10px 35px;
  font-family: BioRhyme;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--midnight);
}

.dashboard-duck {
  width: 189.4px;
  height: 200px;
  object-fit: contain;
  align-self: center;
}

.dashboard-keyword-header {
  padding: 20px 0px 0px 40px;
  width: 622px;
  height: 56px;
  font-family: BioRhyme;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--midnight);
}

.dashboard-keyword-area {
  width: 754px;
  background-color: var(--gray);
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 5px rgba(0, 0, 0, 0.12),
    0 16px 24px 2px rgba(0, 0, 0, 0.14);

  grid-column-start: col-3;
  grid-column-end: col-6;
  grid-row-start: row-d;
  grid-row-end: row-g;
}

.count-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 346px;
  height: 656px;
  background-color: var(--gray);
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 5px rgba(0, 0, 0, 0.12),
    0 16px 24px 2px rgba(0, 0, 0, 0.14);

  grid-column-start: col-1;
  grid-column-end: col-2;
  grid-row-start: row-d;
  grid-row-end: row-g;
  align-self: end;
}

/* Word Colors */

.royal {
  color: var(--royal) !important;
}

.gold {
  color: var(--gold) !important;
}

.red-orange {
  color: var(--red-orange) !important;
}

.aqua {
  color: var(--aqua) !important;
}

.mellow-yellow {
  color: var(--mellow-yellow) !important;
}

.white {
  color: var(--white);
}

/* Bubbles */

/* CSS Bubbles*/
.bubble-div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Sarala;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  color: var(--midnight);
}

.bubble-div > p {
}

.chartContainer {
  width: 754px;
  height: 650px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

/* Conversation Layout */

.conversation-container {
  display: grid;
  justify-content: stretch;
  align-content: stretch;
  /* grid-template-columns: [col-0] 4% [col-1] 27% [col-2] 4% [col-3] 33% [col-4] 15% [col-5] 13% [col-6] 4% [end];
  grid-template-rows: [row-a] 90px [row-b] 5% [row-c] 3% [row-d] 32% [row-e] 6% [row-f] 35% [row-g] 100px [end]; */
  grid-template-columns: [col-0] 60px [col-1] 346px [col-2] 60px [col-3] 416px [col-4] 176px [col-5] 162px [col-6] 60px [end];
  grid-template-rows: [row-a] 45px [row-b] 56px [row-c] 30px [row-d] 324px [row-e] 60px [row-f] 363px [row-g] 45px [end];
}

.duck-item {
  object-fit: cover;
  grid-column-start: col-1;
  grid-column-end: col-2;
  grid-row-start: row-b;
  grid-row-end: row-e;
}

.header-item {
  display: flex;
  justify-content: space-between;
  grid-column-start: col-3;
  grid-column-end: col-6;
  grid-row-start: row-b;
  grid-row-end: row-c;
}

.transcript-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: stretch;
  grid-column-start: col-3;
  grid-column-end: col-6;
  grid-row-start: row-b;
  grid-row-end: row-e;
}

.keyword-item {
  grid-column-start: col-1;
  grid-column-end: col-6;
  grid-row-start: row-f;
  grid-row-end: row-g;
}

.convo-bubble-container {
  width: 1160px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-items: baseline; */
}

.convo-bubbles {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Sarala;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  color: var(--midnight);
}

.b-0 {
  position: absolute;
  left: 30px;
  top: 116px;
  background: var(--royal);
}

.b-1 {
  position: absolute;
  left: 467px;
  top: 520px;
  background: var(--mellow-yellow);
}

.b-2 {
  position: absolute;
  left: 580px;
  top: 66px;
  background: var(--gold);
}

.b-3 {
  position: absolute;
  left: 233px;
  top: 34px;
  background: var(--red-orange);
}

.b-4 {
  position: absolute;
  left: 394px;
  top: 129px;
  background: var(--aqua);
}

.b-5 {
  position: absolute;
  left: 43px;
  top: 488px;
  background: var(--aqua);
}

.b-6 {
  position: absolute;
  left: 490px;
  top: 236px;
  background: var(--red-orange);
}

.b-7 {
  position: absolute;
  left: 330px;
  top: 319px;
  background: var(--gold);
}

.b-8 {
  position: absolute;
  left: 192px;
  top: 265px;
  background: var(--royal);
}

.b-9 {
  position: absolute;
  left: 580px;
  top: 380px;
  background: var(--royal);
}

.b-10 {
  position: absolute;
  left: 43px;
  top: 279px;
  background: var(--mellow-yellow);
}

.b-11 {
  position: absolute;
  left: 256px;
  top: 486px;
  background: var(--red-orange);
}

/* LOGIN AREA */

.tiny-duck {
  position: relative;
  left: 710px;
  top: -50px;
  width: 94.5px;
  height: 99px;
  object-fit: contain;
}

.login-title {
  width: 400px;
  height: 56px;
  margin-bottom: 17px;
  font-family: BioRhyme;
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  color: var(--midnight);
}

.error-message {
  padding-top: 40px;
  color: var(--red-orange);
  font-family: BioRhyme;
  font-size: 20px;
}

.login-label {
  display: block;
  padding-bottom: 8px;
  width: 100px;
  height: 18px;
  font-family: Sarala;
  font-size: 11px;
  text-align: left;
  color: #9b9b9b;
}

.login-label:focus {
  color: var(--aqua);
}

.login-input {
  width: 480px;
  margin-bottom: 23px;
  display: block;
  background: transparent;
  appearance: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #9b9b9b;
  height: 16px;
  font-family: AnonymousPro;
  font-size: 14px;
  text-align: left;
  color: var(--midnight);
}

.login-input:focus {
  border-bottom: solid 1px var(--aqua);
  outline: none;
}

.login-panel {
  width: 600px;
  height: 528px;
  margin: 100px 340px 0px 340px;
  padding: 60px;
  background-color: var(--white);
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 5px rgba(0, 0, 0, 0.12),
    0 16px 24px 2px rgba(0, 0, 0, 0.14);
}

.login-button {
  font-family: Sarala;
  margin: 0px 5px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  padding: 10px 20px;
  color: var(--white);
  background-color: var(--aqua);
}

.create-acnt-button {
  border-style: none;
  font-family: Sarala;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  padding: 10px 36px;
  color: #7cdbd5;
  color: var(--aqua);
}
